body {
  font-family: "Poppins", sans-serif;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  float: right;
  width: 88%;
}

.header span {
  font-family: "Poppins", sans-serif;
}

#live {
  color: #bf5700;
}

#logo {
  width: 400px;
}

table {
  border-spacing: 40px;
  width: 88%;
  float: right;
}

td {
  text-align: center;
}

.footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 88%;
  float: right;
  margin: 1em;
}

.sidenav {
  height: 100%;
  width: 12%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #bf5700;
  overflow-x: hidden;
  padding-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav a {
  text-decoration: none;
  font-size: 1.25vw;
  color: white;
  display: block;
  margin: auto;
  padding-bottom: 0.5em;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav i {
  color: white;
}

.snecenter {
  width: 88%;
  float: right;
  margin: 1em;
}

iframe {
  position:center;
}

#sidenav-logo {
  width: 100%;
}

#home-link {
  padding-bottom: 0;
}

#contact-div {
  padding-bottom: 2em;
}

#creators {
  font-size: 200px;
  justify-content: space-between;
}

/* style elements for the austin music info page */
.res-circle {
  /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  width: 20%;
  border-radius: 50%;

  /* (B) BACKGROUND COLOR */ 
  background: #ffdcbc;
 
  /* (C) NECESSARY TO POSITION TEXT BLOCK */
  line-height: 0;
  position: relative;
}
 
/* (D) MATCH HEIGHT */
.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
 
/* (E) TEXT BLOCK */
.circle-txt {
  /* (E1) CENTER TEXT IN CIRCLE */
  position: absolute;
  margin: auto;
  bottom: 40%;
  width: 100%;
  text-align: center;
 
  /* (E2) THE FONT - NOT REALLY IMPORTANT */
  font-family: arial, sans-serif;
  font-weight: bold;
}

#circle_span {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

#circle_1 {
  position: absolute;
  left: 600px;
  top: 120px;
}

#circle_2 {
  position: absolute;
  left: 1100px;
  top: 320px;
}

#circle_3 {
  position: absolute;
  left: 600px;
  top: 520px;
}

#circle_4 {
  position: absolute;
  left: 1100px;
  top: 720px;
}

#circle_5 {
  position: absolute;
  left: 600px;
  top: 920px;
}
